@model WDPR_MVC.Models.Comment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Melding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Melding.AuteurId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuteurComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuteurComment.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inhoud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inhoud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumAangemaakt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumAangemaakt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalLikes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
